<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pneuma</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header class="navbar">
    <div class="logo">LOGO Pneuma</div>
    <div class="nav-buttons">
      <button class="menu-btn">☰ Log in</button>
    </div>
  </header>

  <main class="main-content">
    <h1 class="title">Pneuma</h1>
    <div class="card-container">
        <a href="mood.html" class="card-link">
        <div class="card">
            <span class="tag">mood</span>
            <div class="icon">✚</div>
            <h2>How are you feeling?</h2>
        </div>
        </a>

        <a href="session.html" class="card-link">
        <div class="card">
            <span class="tag">new session</span>
            <div class="icon">⬢</div>
            <h2>Start new session</h2>
        </div>
        </a>

        <a href="finished.html" class="card-link"></a>
        <div class="card">
            <span class="tag">Finished</span>
            <div class="icon">▲</div>
            <h2>You succesfully finnished 7 study session</h2>
        </div>
        </a>
    </div>
  </main>

<!--  Menu -->
<div class="menu-overlay" id="menuOverlay">
  <div class="overlay-content">
    <button class="close-btn" id="closeMenu">✖</button>

    <!-- LOGIN-->
    <div class="login-card" id="loginCard">
      <h2>Log into your account</h2>
      <form>
        <label>Username/Email</label>
        <input type="email" placeholder="Enter your username or email" />

        <label>Password</label>
        <input type="password" placeholder="Enter your password" />

        <div class="options">
          <label><input type="checkbox" /> Remember me</label>
          <a href="#">Forgot?</a>
        </div>

        <button type="submit" class="login-btn">Log In</button>

        <p class="signup-text">
          Don’t have an account? <a href="#" id="showSignup">Sign Up</a>
        </p>
      </form>
    </div>

    <!-- SIGNUP-->
    <div class="login-card hidden" id="signupCard">
      <h2>Create an account</h2>
      <form>
        <label>Username</label>
        <input type="text" placeholder="Choose a username" />

        <label>Email</label>
        <input type="email" placeholder="Enter your email" />

        <label>Password</label>
        <input type="password" placeholder="Create a password" />

        <label>Confirm Password</label>
        <input type="password" placeholder="Re-enter your password" />

        <button type="submit" class="login-btn">Sign Up</button>

        <p class="signup-text">
          Already have an account? <a href="#" id="showLogin">Log In</a>
        </p>
      </form>
    </div>
  </div>
</div>


  <script src="script.js"></script>
</body>
</html>
