<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pneuma</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header class="navbar">
    <div class="logo">LOGO Pneuma</div>
    <div class="nav-buttons">
      <button class="menu-btn">☰ Menu</button>
    </div>
  </header>

  <main class="main-content">
    <h1 class="title">Pneuma</h1>
    <div class="card-container">
      <div class="card">
        <span class="tag">mood</span>
        <div class="icon">✚</div>
        <h2>How are you feeling?</h2>
      </div>

      <div class="card">
        <span class="tag">new session</span>
        <div class="icon">⬢</div>
        <h2>Start new session</h2>
      </div>

      <div class="card">
        <span class="tag">Finished</span>
        <div class="icon">▲</div>
        <h2>You succesfully finnished 7 study session</h2>
      </div>
    </div>
  </main>
</body>
</html>
