<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Your Mood - Pneuma</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header class="navbar">
    <div class="logo">LOGO Pneuma</div>
    <div class="nav-buttons">
      <a href="index.html"><button class="menu-btn">← Back</button></a>
    </div>
  </header>

  <main class="main-content">
    <h1 class="title">How are you feeling?</h1>
    <div class="card-container mood-container">
        <div class="card mood-card">😵‍💫 <h2>Unfocused</h2></div>
        <div class="card mood-card">😰 <h2>Stressed</h2></div>
        <div class="card mood-card">😣 <h2>Anxious</h2></div>
        <div class="card mood-card">😌 <h2>Calm</h2></div>
        <div class="card mood-card">😴 <h2>Tired</h2></div>
        <div class="card mood-card">🤩 <h2>Energetic</h2></div>
        <div class="card mood-card">😁 <h2>Happy</h2></div>
        <div class="card mood-card">😎 <h2>Confident</h2></div>
    </div>
  </main>
</body>
</html>
