/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

body {
    background-image: url(images/SVG/background_gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #111;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.navbar {
  width: 100%;
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

button {
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-btn {
  background: #ffffff;
}


/* Main Content */
.main-content {
  margin-top: 8rem;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3rem;
  cursor: pointer;
}

/* Cards Section */
.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  width: 250px;
  height: 320px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
}

.tag {
  background: rgba(255, 255, 255, 0.3);
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  align-self: center;
}

.icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  font-weight: 500;
}


/* Mood Page */
.mood-card {
    width: 150px;
    height: 150px;
    border-radius: 10rem;
    font-size: 2rem;
    gap: 0.5rem;
}

.mood-card h2 {
  font-size: 1.1rem;
  font-weight: 500;
}

.add-mood {
  border: 2px dashed rgba(255, 255, 255, 0.4);
}

.add-mood:hover {
  background: rgba(255, 255, 255, 0.3);
}

.mood-card:hover {
  transform: translateY(-10px) scale(1.05);
}

.mood-container{
    padding-top: 5rem;
}
